* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}
td{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid lightgrey;
}
col,
tr:nth-child(3),
thead,
tfoot{
    background-color: #c4d06a
}
table{
    border: 2px solid black;
    margin: 30px;
}
/*span{
    color: pink;
    font-size: 20px;
}*/

.contenedorDatos {
    display: block;
}
.officialButton{
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: 4px 4px 10px lightgray; 
}

/*    --   VIAJES    -- */
:root{
    --main-color: #71CBC1;
    --secondary-color: #C78DCB;
    --terciary-color: #AAA35A;
}

*::selection{
    background-color: var(--main-color);
    color: white;
}
.titulo {
    position: absolute;
    text-align: center;
    font-family: 'Ms Madi', cursive;
    color: white;
    width: 100%;
    font-size: 5em;
}
.tituloH2{
    font-family: 'Ms Madi', cursive;
    text-align: center;
    font-size: 3em;
    color: black;
    position: relative;
    transition-property: left, transform;
    transition-duration: 2.3s, 2s;
}
.tituloH2:hover{
    /*font-size: 3.4rem;*/
    transform: translateY(-30px);
    transform: scale(1.3);
}
.textoOcultoTitulo{
    color: transparent;
    text-align: center;
    font-size: 2rem;
    position: relative;
    transition-property: display, color;
    transition-duration: 2s;
}
.tituloH2:hover + .textoOcultoTitulo{
    color: black;
}
.nav{
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: white;
    background-color: var(--main-color);
}
.nav > li {
    margin: 5px;
    padding: 5px;
}
.nav > li > a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.nav > li > a:hover{
    border-bottom: 2px solid white;
}

.imagenPortada{
    height: 600px;
    width: 100%;
}
.imagenPortada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 60%;
    z-index: -1;
}
.statsPaises{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
    justify-content: center;    
    animation-name: moverPortada;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes moverPortada {
    0% {
        transform: translate(-1530px, 0px);
        display: none;
    }
    50%{
        transform: translateY(0px);
    }
    100% {
        transform: translateX(0px);
        display: flex;
    }
}
.stat {
    box-shadow: 4px 4px 10px #71CBC1;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 275px;
    text-align: center;
    margin: 10px 35px;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
    background-color: white;
}
.stat img{
    margin: 10px;
    width: 100px;
    height: 100px;
    margin: auto 10px;
}
.stat:nth-child(3) img{
    width: 90px;
    height: 90px;
}
.dato{
    margin: -30px 10px -10px;
    width: 150px;
}
.dato span{
    color: #C78DCB;
    font-size: 95px;
    font-family: 'Raleway', sans-serif;
}
.dato p {
    font-size: 20px;
}
.dato p:nth-child(2){
    margin-top: -20px;
    font-weight: 700;
}

/*   DESCRIPCIÓN PORTADA */

.subtitulo{
    text-transform: uppercase;
    margin: -12px 10px 10px;
    color:#71CBC1;
    font-size: 20px;
}
.regularIcon{
    /*filter: invert(98%) sepia(34%) saturate(6912%) hue-rotate(232deg) brightness(85%) contrast(83%);*/
    width: 45px;
    padding: 5px 0px;
}
.centrado{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.iconoPais{
    margin-bottom: -50px;
}
.descripcionPagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 10px;
}
.imagenIzquierda{
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto 25px;
}
.imagenIzquierda > span{
    position: absolute;
    border-width: 2px;
    border-style: solid;
    width: 500px;
    height: 400px;
    z-index: -1;
}
.imagenIzquierda > span:nth-child(1){
    border-color: #71CBC1;
    background-color: #71CBC1;
    transform: rotate(-18deg);
}
.imagenIzquierda > span:nth-child(2){
    border-color: #C78DCB;
    background-color: #C78DCB;
    transform: rotate(-4deg);
}
.imagenIzquierda > span:nth-child(3){
    border-color:#AAA35A;
    transform: rotate(14deg);
}

.imagenIzquierda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 65%;
}
.textoIzquierda{
    width: 600px;
    margin: auto 40px;
    padding: 20px;
}
.textoIzquierda h2{
    font-size: 2em;
    text-transform: uppercase;
}
.marginFullPage {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

/* ---- AÑOS ---- */

.cronologia{
    height: 600px;
    font-size: 3em;
    margin: 30px;
}
.cronologia__div{
    display: flex;
    justify-content: space-evenly;
}
.cronologia__div:first-child{
    border-bottom: 2px solid var(--terciary-color);
}
.cronologia__div-div{
    width: 300px;
    height: 300px;
    text-align: center;
    transition: 0.4s border;
}
.half{
    height: 200px;
    margin-top: 150px;
}
.cronologia__div-div-a{
    display: block;
    padding: 15px;
    box-shadow: 4px 4px 10px lightgray;
    text-decoration: none;
    color: var(--secondary-color);
    background: linear-gradient(var(--main-color) 0 0) no-repeat calc(200% - var(--p, 0%))100% / 200% var(--j, 0.08em);
    transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}
.second{
    margin-top: 100px;
}
.first{
}
.cronologia__div-div-a:hover{
    --p: 100%;
    --j: 100%;
    --t: 0.3s;
    color: #fff;
}
.cronologia__div:first-child .cronologia__div-div:nth-child(1):hover,
.cronologia__div:first-child .cronologia__div-div:nth-child(3):hover,
.cronologia__div:first-child .cronologia__div-div:nth-child(5):hover
{
    border-left: 4px solid var(--main-color);
}

.cronologia__div:nth-child(2) .cronologia__div-div:nth-child(2):hover,
.cronologia__div:nth-child(2) .cronologia__div-div:nth-child(4):hover
{
    border-left: 4px solid var(--main-color);
    height: 50%;
}


/* ---- POR PAISES ---- */

.paises{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 50px 0px 150px;
    background-color: var(--main-color);
    padding: 120px 0;
    position: relative;
}

.paises__div{
    width: 300px;
    height: 600px;
    padding: 0 20px;
    margin: 20px 5px;
    border-radius: 10px;
    background-color: white;
}
.paises__div-img{
    width: 340px;
    height: 60%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: 70% 0%;
    margin-left: -20px;
}
.paises__div-h3{
    margin: -5px 0;
}
.paises__div-p{
    height: 70px;
}
.paises__div-a{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-left: 30px;
    color: var(--terciary-color);
    outline: 1px solid var(--terciary-color);
    border-radius: 10px;
    padding: 10px 20px;

    --c: no-repeat linear-gradient(var(--secondary-color) 0 0);
    background: 
        var(--c)  calc(-101% + var(--p,0%)) 100% / 50.1% var(--p,.08em),
        var(--c)  calc( 201% - var(--p,0%)) 0    / 50.1% var(--p,.08em);
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
.paises__div-a:hover{
    --p: 101%;
    --t: 0.3s;
    color: white;
    outline: 0px;
}

/*  ----------- PÁGINA PAISES -----------  */
.textoPortadapaises{
    min-width: 200px;
    max-width: 500px;
    padding: 45px;
    border-radius: 25px;
    border: 1px solid var(--terciary-color);
    position: relative;
    margin-top: -75px;
    margin-bottom: 120px;
    background-color: white;
    z-index: 20;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.1rem;
}
.textoPortadapaises span{
    color: var(--secondary-color);
    font-size: 2.6rem;
    line-height: 0;
    padding: 0 3px;
}
.gridImagenes{
    margin: 40px 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    /*grid-auto-columns: 300px;*/
    grid-auto-rows: 300px;
    grid-gap: 10px;
}
.gridItemImagen{
    width: 100%;
    height: 100%;
    border: 3px solid var(--terciary-color);
    object-fit: cover;
}

.gridItemImagen:nth-child(1){
    grid-row:  1/3;
    object-position: top;
}
.gridItemImagen:nth-child(2){
    /*grid-row: 1 / 3;*
}
.gridItemImagen:nth-child(6){/*
    grid-column: 3 / span 2;
    object-position: top;*/
}
